/*
* Author: Àlex Resta;
*/

body {
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	
}

.separate_top {
	margin: 1.5em 0 1.5em 0;
}

.row {
}

.em {
	font-size: 1em;

}
#my_name_in_big_bold_letters {
	line-height: 1;
	margin:0;
}

#download_pdf {
	text-align: center;
}
#contact_data {
	border-bottom: 1px solid #ddd;

}
.job_experience {
	margin-top: 16px;
}

.job_description {
	margin: 0.5em 0 1.2em 0;

}
ul li {
	list-style-type: disc;
	margin-bottom: 0;
}
ul.social_links li {
	list-style-type: none;
	margin-bottom: 0;
}
h2 {
	font-size: 3rem;
}

h3 {
	font-size:1.5em;
		line-height: 1;
	margin:2em 0 0 0;
}

.one-half.column.interior {
	width: 45%;
	margin-left: 2%;
}