<!DOCTYPE html>
<html lang="en" ng-app="resumeApp">>
<head>

  <meta charset="utf-8">
  <title>Resume of Alex Resta</title>
  <meta name="description" content="">
  <meta name="author" content="Alex Resta">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"-->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">

  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>

  <script src="scripts/resumeController.js"></script>


</head>
<body>
  <div class="container">
    <!-- PDF version -->
    <div class="row separate_top" id="download_pdf">
      <a href="Alex_Resta_Resume.pdf">Download as PDF</a>
    </div>
  <!-- PERSONAL DATA & GENERAL CONTACT INFO -->
    <div class="row separate_top" id="contact_data" itemscope itemtype="http://schema.org/Person">

      <div class="one-half column">
        <h1 itemprop="name" id="my_name_in_big_bold_letters">Àlex Resta</h1>
        <em itemprop="jobTitle">Software engineer with a broad scope of knowledge, experience and skills</em>
      </div>
      <div class="one-half column">
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <!--span itemprop="streetAddress"></span-->
              <span itemprop="addressLocality">Vilafranca del Penedès, </span>
              <span itemprop="postalCode">08720</span> <span itemprop="addressRegion">Barcelona</span>
          </div>
        
          <div class="">
            <ul class="social_links">

              <li><em>phone</em> <span itemprop="telephone">615 692 759</span></li>
              <li><em>email</em> <a href="mailto:alexresta@gmail.com" itemprop="email">alexresta@gmail.com</a></li>
              <!--li>twitter: <a href="http://www.twitter.com/alexresta" target="_blank">@alexresta</a></li-->
              <li><em>linkedin</em> <a href="https://es.linkedin.com/in/alexresta" target="_blank">alexresta</a></li>
            </ul>
          </div>
      </div>

    </div>
    
    <!-- BIO, SKILLS & OTHER STUFF -->
    <div class="row"> 
    <p>Hola! If I could choose three words to define me as a teammate, I would say: hardworking, friendly and positive. </p><p>
    I have over 15 years of experience not only in the software industry but also as an entrepreneur. Founding my own company helped me learn a wide set of skills which made me a more business-aware, focused, organized and goal-driven developer, and also boosted my people and managing skills way over I imagined some years ago.</p>
     <p>I am looking for a full-time position in a challenging team where I can learn and grow both as a developer and as a person. I am a fast learner and I really like challenges, so challenge me! </p>
     </div>
     
    <!-- WORK EXPERIENCE -->
    <div class="row" ng-controller="ResumeCtrl">
      <h2>Work experience</h2>

       <div class="job_experience" ng-repeat="job in jobs">
        <span class="job_dates u-pull-right">{{job.job_dates}}</span>
        <h3 class="job_title">{{job.job_title}}</h3>

        <em><span class="job_company">{{job.job_company}}</span></em>
        <div class="job_wherewhen">
          
          
        </div>
        <div class="job_description" ng-bind-html="job.job_description" ></div>
        
        <div ng-if="job.columns==1" class="two-thirds column interior" ng-bind-html="job.column_one"></div>
        <div ng-if="job.columns==1" class="u-cf"></div>

         <div ng-if="job.columns>=2" class="one-half column interior" ng-bind-html="job.column_one"></div>
         <div ng-if="job.columns>=2" class="one-half column interior" ng-bind-html="job.column_two"></div>
       
      </div>


         
    </div> <!--work experience-->


  </div>
</body>
</html>

